opencv-python~=4.10.0.84
ultralytics~=8.3.34
numpy>=1.26.0,<2.0
scipy~=1.14.1
tqdm~=4.67.0
torch~=2.5.1
PyYAML~=6.0.2
pillow~=11.0.0
torchvision~=0.20.1
matplotlib~=3.9.2
pandas~=2.2.3
seaborn~=0.13.2
requests~=2.32.3
psutil~=6.1.0
ultralytics-thop~=2.0.12
mediapipe~=0.10.18
scikit-learn>=1.5.0,<1.7
joblib>=1.4.0,<2.0
GitPython>=3.1.30,<4.0
